.header{
    padding: 10px 0;
    z-index: 99;
    padding: 10px 0;
    position: sticky;
    background-color: white;
    top: 0;

    .header-container{
        width: 85%;
        margin: 0 auto;
        display: flex;
        justify-content: space-between;
        align-items: center;

        .logo{
            width: 100px;

            img{
                width:100%;
            }
        }
        .user-rel-gst , .user-rel-it {
            position: relative;
            display: flex;
            
            
            .user-card-gst , .user-card-it{
                position: absolute;
                bottom: -145px;
                left: -18px;
                box-shadow: 0px 0px 3px #808080a6;
                padding: 10px 0px;
                width: 589%;
                font-size: 14px;
                background-color: white;
                z-index: 2;
                a{
                    padding:20px;
                    text-decoration: none;
                    color: black;
        
                }
                a:hover{
                    color: aqua;
                }
        
            }
         }
         .user-rel-it {
            position: relative;
            display: flex;
            
            
            .user-card-it{
                position: absolute;
                bottom: -100px;
                left: -2px;
                box-shadow: 0px 0px 3px rgba(128, 128, 128, 0.6509803922);
                padding: 10px 0px;
                width: 200%;
                font-size: 14px;
                background-color: white;
                z-index: 2;
                   
    
                h5{
                    padding: 0px 20px;
                    color: black;
                }
                a{
                    padding:20px;
                    text-decoration: none;
                    color: black;
        
                }
                a:hover{
                    color: aqua;
                }
        
            }
            
         }
         .user-rel-ie {
            position: relative;
            display: flex;
            
            
            .user-card-ie{
                position: absolute;
                bottom: -189px;
                left: -2px;
                box-shadow: 0px 0px 3px rgba(128, 128, 128, 0.6509803922);
                padding: 10px 0px;
                width: 200%;
                font-size: 14px;
                background-color: white;
                z-index: 2;
                   
    
                h5{
                    padding: 0px 20px;
                    color: black;
                }
                a{
                    padding:20px;
                    text-decoration: none;
                    color: black;
        
                }
                a:hover{
                    color: aqua;
                }
        
            }
            
         }
        
    }
}

@media (min-width:320px){
    .menu-bar{
        display: flex;
    }
    .nav{
        display: none;
    }
    .nav{
        width: 70%;
    
        a{
            padding:20px;
            text-decoration: none;
            color: black;

        }
        a:hover{
            color: aqua;
        }
    }

}
@media (min-width:600px){
    .menu-bar{
        display: none;
    }
    .nav{
        display: flex;
    }
    .nav{
        width: 70%;
    
        a{
            padding: 0 10px;
            text-decoration: none;
            color: black;
        }
    }

}
@media (min-width:1024px){
    .menu-bar{
        display: none;
    }
    .nav{
        display: flex;
        justify-content: end;
    }
    .nav{
        width: 70%;
    
        a{
            padding: 0 10px;
            text-decoration: none;
            color: black;
        }
    }

}