.header{
    padding: 10px 0;
    z-index: 99;
    padding: 10px 0;
    position: sticky;
    background-color: white;
    top: 0;

    .header-container{
        width: 85%;
        margin: 0 auto;
        display: flex;
        justify-content: space-between;
        align-items: center;

        .logo{
            width: 100px;

            img{
                width:100%;
            }
        }
        
    }
}

@media (min-width:320px){
    .menu-bar{
        display: flex;
    }
    .nav{
        display: none;
    }
    .nav{
        width: 50%;
    
        a{
            padding:20px;
            text-decoration: none;
            color: black;

        }
        a:hover{
            color: aqua;
        }
    }

}
@media (min-width:600px){
    .menu-bar{
        display: none;
    }
    .nav{
        display: flex;
    }
    .nav{
        width: 50%;
    
        a{
            padding: 0 10px;
            text-decoration: none;
            color: black;
        }
    }

}
@media (min-width:1024px){
    .menu-bar{
        display: none;
    }
    .nav{
        display: flex;
        justify-content: end;
    }
    .nav{
        width: 50%;
    
        a{
            padding: 0 10px;
            text-decoration: none;
            color: black;
        }
    }

}