.home{
    width: 100%;
   
    img{
        width: 100%;
        height: 80vh;
    }
    .slick-slider{
        width: 100%;
    }

    .slick-next {
        right: 21px;
    }
    .slick-prev {
        left: 26px;

        z-index: 1;
    }
    .slick-prev:before, .slick-next:before{
        font-size: 20px;
        color: black;
    }
}

@media (min-width:320px){
    

}
@media (min-width:600px){


}
@media (min-width:1024px){


}